/* products.css */

.products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .products-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-name {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-description {
    color: #777;
    margin: 10px 0;
  }
  
  .product-price {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .add-to-cart-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 8px 15px;
    color: #111;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #ddb347;
  }
  